Repository philjdelong/monster_shop_part_1, pull requests merged in 2019-12, with the labels that each got.

#41 Complete User story 2: visitor navigation
  app/views/layouts/application.html.erb
  spec/features/navigation_spec.rb
Labels: Navigation

#43 Complete User Story 3: User Navigation
  app/assets/stylesheets/application.css
  app/controllers/application_controller.rb
  app/models/user.rb
  app/views/layouts/application.html.erb
  db/migrate/20191216233534_add_role_to_users.rb
  db/schema.rb
  spec/features/admin/user_spec.rb
  spec/models/user_spec.rb
Labels: Navigation

#48 Complete User story 7-9: User/Merchant/Admin Navigation Restrictions
  app/controllers/cart_controller.rb
  spec/features/admin/admin_user_spec.rb
  spec/features/items/index_spec.rb
  spec/features/merchant/merchant_user_spec.rb
  spec/features/users/user_spec.rb
Labels: Navigation

#51 Completed User Story 34: Merchant Dashboard Show Page
  app/controllers/merchant/dashboard_controller.rb
  app/views/merchant/dashboard/index.html
  app/views/merchant/dashboard/index.html.erb
  spec/features/users/merchant/index_spec.rb
  spec/features/users/merchant/merchant_user_spec.rb
Labels: Merchant Dashboard

#63 User story 30 pd
  app/controllers/orders_controller.rb
  app/models/item_order.rb
  app/models/order.rb
  app/views/orders/show.html.erb
  spec/features/admin/dashboard_spec.rb
  spec/features/orders/user_cancels_order_spec.rb
Labels: User Order Show Page
